.cartao-pokemon {
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.cartao-pokemon .cartao-topo {
    padding: 30px 40px 0; /*30px em cima, 40 dos lados e 0 na base*/
}

.cartao-pokemon .nome {
    margin-bottom: 5px;
}

.cartao-pokemon .tipo {
    font-size: 12px;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px; /*2px no topo e na base e 10px nas laterais*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}

.cartao-pokemon .detalhes {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem {
    width: 350px; /*largura*/
    height: 350px; /*altura*/
}

.cartao-pokemon img {
    max-height: 100%;
}

.cartao-pokemon .cartao-informacoes {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 80px 50px 30px; /*80ps em cima, 50px nas laterais e 30px na base*/
    margin-top: -70px; /*faz o efeito do pokemon ficar por cima da div*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-pokemon .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidades {
    padding: 0 10px;
    width: 180px;  
}

.cartao-pokemon .cartao-informacoes .status ul li, .cartao-pokemon .cartao-informacoes .habilidades ul li {
    border-bottom: 1px solid #C3C4C5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-pokemon.aberto {    
    display: block;
}

.tipo-fogo {
    background-color: #ed8a8b;
}

.tipo-eletrico {
    background-color: #fcc719;
}

.tipo-agua {
    background-color: #76eefe;
}

.tipo-grama {
    background-color: #49d0b0;
}

.tipo-trevas {
    background-color: #ba6bcb;
}

.tipo-dragao {
    background-color: #c29791;
}